##############################################
# Build
##############################################
bin/
obj/
out/

##############################################
# Visual Studio
##############################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

##############################################
# Rider
##############################################
.idea/

##############################################
# Logs
##############################################
*.log

##############################################
# OS
##############################################
.DS_Store
Thumbs.db

##############################################
# Environment / Secrets
##############################################
Usuarios.API/appsettings.json
**/appsettings.Development.json
**/appsettings.Local.json
.env

##############################################
# NuGet
##############################################
*.nupkg
packages/

##############################################
# Publish
##############################################
publish/

##############################################
# program
##############################################
Usuarios.API/Program.cs

Usuarios.API/StorageFiles

##############################################
# Handoff / documentação de sessão (não versionar)
##############################################
Handoff/